.forecast {
    width: 78%;
    height: auto;
    margin: 0 auto;
    background-color: rgba(36, 25, 91, 0.6);
    height: auto;
}

.forecast-header h2 {
    color: white;
    display: flex;
    font-size: 3vw;
}

span {
    color: white;
}

.forecast-header {
    position: relative;
    display: flex;
    justify-content: center;
    margin: .6rem 0;
}

.forecast-header span {
    position: absolute;
    right: 3rem;
    top: 3rem;
}

.forecast-body h2{
    color: rgb(203, 223, 203);
    font-size: 2vw;
}

.forecast-body h3{
    color: rgb(209, 239, 41);
    font-size: 1.5vw;
}

.forecast-main{
    display: flex;
    color: white;
    justify-content: center;
    flex-direction: column;
}

.forecast-main h1{
    font-size: 7vh;
    color: rgb(20, 251, 39);
    justify-content: center;
    padding: -3rem;
}

.icon-weather {
    display: flex;
    justify-content: center;
}

.icon-weather span {
    padding: 0 2rem;
}

.forecast-footer {
    display: flex;
    color: white;
    justify-content: center;
}

.forecast-footer > div {
    margin: 0 1rem;
}

.fa-cloud {
    background-image: linear-gradient(to right, rgb(65, 89, 147) , rgb(96, 155, 203));
}

.fa-bold {
    color: rgb(238, 238, 97);
}

.fa-cloud-rain {
    background-image: linear-gradient(to right, rgb(144, 173, 70) , rgb(96, 155, 203));
}


.fa-cloud-shower-heavy {
    background-image: linear-gradient(to right, rgb(144, 173, 70) , rgb(29, 31, 134));
}

.fa-snow-flake {
    background-image: linear-gradient(to right, rgb(137, 47, 47) , rgb(29, 31, 134));
}
@media only screen and (max-width: 600px) {
    .forecast {
      width: 90%;
      height: auto;
      padding-bottom: 3rem;
      background-color: rgb(50, 59, 99);
    }

    .forecast-header h2 {
        font-size: 1.6rem;
    }

    .forecast-body h2 {
        font-size: 1.2rem;
    }

    .forecast-body h3{
        font-size: 1.2rem;
    }
} 