.form-search {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border: 3px;
    margin: 1.2rem auto;
    width: 73%;
    /* padding-top: 5px; */
}

input {
    font-size: 22px;
    width: 100%;
    height: 49px;
    padding: 0 1rem ;
    border-radius: 10px;
    outline: none;
    border-radius: 0;
    border: none;
}

button {
    height: 49px;
    padding: 0 2rem;
    color: green;
    cursor: pointer;
    border: none;
    font-size: 22px;
    outline: none;
    border-radius: 0;
    border: none;
}


@media only screen and (max-width: 600px) {
    .form-search {
      width: 90%;
    }
}